.iconCircle {
    width: 100px;
    height: 100px;
    /* border: 3px solid #78ceff; */
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
    line-height: 115px;
    margin-bottom: 15px;
    display: inline-block;
    background: #263bd6;
    color: white;
    margin: auto;
}