    .full-name {
        width: 100%;
        padding: 10px 10px;
        color: #8c8c8c;
        border: 2px solid #ddd;
    }
    
    .industry-tab,
    .salary-tab {
        width: 100%;
        padding: 10px 10px;
        color: #8c8c8c;
        border: 2px solid #ddd;
    }
    
    .post-btn {
        width: 100%;
        padding: 10px 10px;
        background: #263bd6;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        border: 0;
    }
    
    .job-detail {
        border: 2px solid #ddd;
    }
    
    @media (min-width: 375px) and (max-width: 1440px) {
        .job-details {
            width: 75%;
        }
    }